<br>
<label for="input_baggagesU">Suitcase Id</label>
<select class="form-control" id="input_baggagesU">
  <option *ngFor="let item of baggagesU">{{item}}</option>
</select>
<br>
<button class="btn btn-outline-success btn-block" type="button" (click)="status_scan()">Scanning</button>

<br>


<div class="d-flex justify-content-center" *ngIf="status_scanning=='1'">
  <div class="spinner-border text-info" style="width: 10rem; height: 10rem;" role="status">
  </div>
</div>

<div class="form-group ">
  <form *ngIf="status_scanning=='2'">
    <label for="input_Flight_Id">Flight</label>
    <select id="input_Flight_Id" class="form-control">
      <option *ngFor="let flight of flights;">{{flight}}</option>
    </select>
    <br>                                                                         
    <button class="btn btn-outline-success btn-block" type="button" (click)="getSeccions()">Search
      Section</button>

    <div>
      <div class="form-group">
        <br>
        <label for="input_Section">Section</label>
        <select id="input_Section" class="form-control" [disabled]="show_S_A">
          <option *ngFor="let secc of seccion_flights;">{{secc}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-info btn-block" id="button_assignment" [disabled]="show_S_A"
        (click)="assignment()">Assignment</button>
    </div>
    <br>
  </form>
</div>

<form *ngIf="status_scanning=='3'">
  <div class="alert alert-warning" role="alert">
    <strong> Warning </strong>: Prohibited goods.
  </div>
  <div class="form-group">
    <label for="input_Status">Status</label>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="switch_rejection" (click)="switch_On()">
      <label class="custom-control-label" for="switch_rejection">Rejection</label>
    </div>
  </div>

  <div class="form-group" [hidden]="!status_rejection">
    <label for="input_comment">Comment</label>
    <input class="form-control" type="text" id="input_comment">
    <small class="text-muted">
      Write a comment explaining why the suitcase was rejected
    </small>
    <br>
  </div>

  <div class="form-group" [hidden]="!status_rejection">
    <button type="button" class="btn btn-danger btn-block" (click)="insertScannedBaggage()">To Refuse</button>
  </div>

</form>

<div *ngIf="show_alert">
  <div class="alert alert-{{type_alert}} alert-dismissible fade show" role="alert">
    {{text_alert}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="show_Alert(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>